.App {
  text-align: center;
  background-image: var(primary-gradient);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(0, 145, 255);
}

a:visited {
  color: rgb(218, 227, 240);
}

.App-link {
  color: #a5ecff;
}

html {
  text-align: center;
  max-width: auto;
  min-height: 100%;
  background-size: cover;
}

.off {
  color: #F0FFFF;
}


body {
  background:  linear-gradient(90deg, #1d1d1d, rgb(31, 31, 31)) no-repeat;
  background-size: cover;
  text-align: left;
  font: 12px Verdana, sans-serif;
  font-size: 13px;
}

.navbar {
  background: linear-gradient(90deg, #1c1c1c, rgb(52, 53, 55)) no-repeat;
  border-radius: 2 white;
}

.category-bar {
  background: rgb(21, 21, 21);

}

.admin-page {
  background: rgb(52, 5, 5);
  color: white;
}

.product {
  background: rgb(21, 21, 21);
  color: white;
}

.shopping-cart {
  color: white;
  background: rgb(38, 38, 38);
}

.product-row {
  background: rgb(16, 16, 16);
}

.register {
  color: white;
}

.header {
  color: rgb(186, 238, 251);
  background: transparent;
  border: none;
}

.footer {
  background: linear-gradient(45deg,rgba(136, 225, 255, 0.543) 0%, rgb(0, 115, 255) 100%);
  border-color: black;

}

.desc-text{
  color: rgb(197, 230, 255);
}

.btn {
  font: 10px Verdana, sans-serif;
  font-size: 10px;
  color: rgb(255, 255, 255);
  background: rgb(23, 86, 158);
  border: 1px solid rgb(0, 0, 0);
}

.btn-category {
  font: 10px Verdana, sans-serif;
  font-size: 10px;
  color: rgb(184, 200, 229);
  background: none;
  font-size: 14px;
  border: 0;
  border-radius: 0px;
}

.btn-search {
  font: 12px Verdana, sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background: rgb(174, 200, 255);
  font-size: 14px;
  border: 1;
  border-radius: 3px;
}

.btn-cart {
  font: 12px Verdana, sans-serif;
  font-size: 12px;
  color: rgb(123, 200, 255);
  background: none;
  font-size: 14px;
  border: 1px solid rgb(123, 200, 255);
  border-radius: 3px;
}




